.create_wrap {
    display: flex;
    flex-wrap: wrap;
    width: 540px;
    margin: 0 auto;

    > div {
        width: 100%;
        padding: 30px 10px;
    }

    h1{
        width: 100%;
        font-size: 40px;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }
}