.input_wrap {
    display: flex;
    flex-wrap: wrap;
    input {
        width: 100%;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid #ddd;
        background-color: #fff;
    }

    textarea {
        width: 100%;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid #ddd;
        background-color: #fff;
        outline: none;
    }

    span {
        display: block;
        margin-top: 5px;
        color: red;
    }
}